@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

#mainPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(194, 6, 34, 0.836) 5%, rgba(17, 102, 130, 0.822) 95%), url("../assets/cropped.jpg");
    background-size: cover;
    color: #fff;
    overflow: hidden;
    scrollbar-width: none;
    box-shadow: -3px 0px 8px black;
}

.nameFunc {
    margin-left: 20px;
    text-shadow: 3px 3px 5px black;
}

.nameFunc p {
    font-size: x-large;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.difText {
    color: #20ACEA;
}

.social {
    font-size: xx-large;
    margin-left: 20px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    width: 290px;
}

.social a {
    text-decoration: none;
    color: aliceblue;
}

.itemSocial:hover {

    text-shadow: 1px 1px 3px #20ACEA;
}

#avatar {
    width: 125px;
    transition: 0.4s;
    filter: drop-shadow(10px 8px 10px black);
}

.blinkBottom a {
    transform: rotate(-90deg);
    font-size: 35pt;
    position: absolute;
    bottom: 0;
    right: 50%;

    animation: blinkArrow 0.9s infinite ease-out;
}

@keyframes blinkArrow {
    0% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

/* PAGINA DE CONTATO */

a {
    text-decoration: none;
    color: white;
}

.contact {
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    background: linear-gradient(90deg, rgba(202, 6, 35, 0.836) 5%, rgba(7, 157, 207, 0.842) 95%), url(../assets/fundo-de-tecnologia-do-circuito-da-placa-mae-em-gradiente-azul_53876-124645.webp);
    padding-right: 10px;
    padding-top: 90px;
    padding-bottom: 90px;
    min-width: 300px;
}

.infoContatMe {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    font-size: large;
}

.infoContatMe p {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
}

.itemSocialContact {
    text-align: center;
    font-size: x-large;
}

.socialContact {
    margin-top: 40px;
    margin-left: 80px;
}

.formulario {
    width: 50%;
    padding: 20px;
    padding-right: 40px;
}

#msg {
    resize: none;
    min-height: 6rem;
}

.itemForm {
    width: 100%;
    margin: 10px;
    height: 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 5px;
    font-weight: 550;
}

input {
    color: #C11734;
}

label {
    margin-left: 10px;
}

button {
    width: 100%;
    margin: 10px;
    height: 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #20ACEA;
    color: white;
    font-size: 12pt;
    cursor: pointer;
}

button:hover {
    box-shadow: 3px 3px 10px white;
}

/* RODAPÉ */

footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dotted transparent;
    font-size: smaller;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: start;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Unicode character for "plus" sign (+) 

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 85%;
}



.active:after {
    content: "\2796";}
    /* Unicode character for "minus" sign (-) */